body{
	font-size: 16px;
}
#container{
	width: 1000px;
	margin: auto;
}

header{
	height: 100px;
	border: 1px solid gray;
	box-shadow: 1px 1px 1px 1px;
}
#logo {
	float: left;
}

.access {
	float: right;
	margin: 40px;
}

#botonLogin{
	box-shadow: 1px 1px 0px 0px ;
}

#botonLogin:hover{
	background-color: lightblue;
}

#btnAceptar{
	box-shadow: 1px 1px 0px 0px ;
}


/*estilo de la seccion de busqueda en el home*/
.midSection{
	height: 350px;
}

.homeSearch{
	margin-top: 30px;
	width: 645px;
	height: 300px;
	float: left;
}

#home_palabraB{
	width: 100%;
}

#buscaPalabra{
	width: 95%;
}
#home_palabraB, #home_categoriaB, #home_estadoB,#home_salarioB, #home_diasB{
	margin: 0 0 30px 10px;
  	float: left;
}
#home_categoriaB, #home_salarioB, #home_estadoB, #home_diasB{
	width: 47%;
}
#comboEstado, #comboCategoria, #comboSalario, #comboDias{
	width: 100%;
	height: 21px;
}
.home_btnB{
	text-align: center;
}

.home_btn{
	width: 130px;
	height: 50px;
}

.homeFieldset{
	height: 280px;
}

#btnAceptar:hover{
	background-color: lightblue;
}

/*Finaliza estilo seccion busqueda en home*/

/*Aqui poner estilo de la seccion de registro en Home*/
#homeRegister{
	  width: 355px;
  float: left;
  margin-top: 30px;
  height: 300px;
}


#RegistroBtnRegistraArt{
	text-align: center;
	width: 330px;
	height: 50px;

}


#home_regUserName,#home_regPassword,#home_regRepeatPass{
	margin: 0 0 30px 10px;
  	float: left;
  	width: 90%;
	text-align: left;
}


#RegistroUserName,#RegistroPassword,#RegistroRepeatPass{
	width: 100%
}

#BtnRegistrar:hover{
	background-color: lightblue;
}

#BtnRegistrar{
	box-shadow: 1px 1px 0px 0px ;
}



/*--------------------------------------------------*/

#homeText{
	width: 1000px;
	height: 100px;
	border: 1px solid gray;
  box-shadow: 1px 1px 1px 1px
}

.homemidtext{
	padding: 3px;
}

/*Footer*/
footer{
	
}
.footer{
	position: absolute;
	bottom: 0;
	width: 1000px;
	border: 1px solid gray;
  box-shadow: 1px 1px 1px 1px;
  text-align: center;
	
}